/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
  --border-width: 1px;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #1a1a1a;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.15rem;
}

#main-title {
    text-align: center;
    font-size: 40px;text-decoration: underline;
}

#winamp-container {
    float: right;
    width: 280px;
    height: 380px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    padding: 0;
    margin: 0;
    z-index: -1;
}
#webamp {
    bottom: 70px;
    right: 120px;
    width: 280px;
    height: 380px;
    z-index: 5 !important;
}

.centering{
    text-align: center;
}
/* body{
    min-height: 100vh;
    background-image: url(/background.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
} */
h1{
    font-size: 2rem;
    font-weight: 9000;
    /* text-transform: uppercase; */
    align-self: center;
    text-decoration: underline;
}
a {
    text-decoration: none;
}

* {
  box-sizing: border-box;
}
section {
  height: auto;
  width: 80%;
  display: grid;
  place-items: center;
}
a {
    text-decoration: none;
    color: #413ef3;
}
a:hover {
    color: #ff0000;
}
/* a {
    text-decoration: none;
    color: #0d0ac0;
} */

.info-row {
  display: flex;
  flex-wrap: wrap;
}
.info-column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.info-card {
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  /* background: linear-gradient(#ffffff 50%, #000000 50%); */
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  transition: 0.5s;
}
.show-row {
  display: flex;
  flex-wrap: wrap;
}
.show-column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.show-card {
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  /* background: linear-gradient(#ffffff 50%, #000000 50%); */
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(82, 82, 82, 0.493);
  cursor: pointer;
  transition: 0.5s;
  background-color: #1f2031;
  padding-bottom: 50px;
}
.movie-row {
  display: flex;
  flex-wrap: wrap;
}
.movie-column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.movie-card {
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  /* background: linear-gradient(#ffffff 50%, #000000 50%); */
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  transition: 0.5s;
}
.audio-row {
  display: flex;
  flex-wrap: wrap;
}
.audio-column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.audio-card {
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  /* background: linear-gradient(#ffffff 50%, #000000 50%); */
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 1em;
  }
  .show-column {
    flex: 0 50%;
    max-width: 50%;
  }
  .info-card-quarters-column {
    flex: 0 50%;
    max-width: 50%;
  }
  .info-card-thirds-column {
    flex: 0 50%;
    max-width: 50%;
  }
  .movie-column {
    flex: 0 50%;
    max-width: 50%;
  }
  .audio-column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 1em;
  }
  .show-column {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .info-card-quarters-column {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .info-card-thirds-column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .movie-column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .audio-column {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.prog_completed {
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #39c331;
  padding: 3px;
  border-radius: 10px;
}
.prog_in_progress {
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #3153bb;
  padding: 3px;
  border-radius: 10px;
}
.prog_on_hold {
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #e6894b;
  padding: 3px;
  border-radius: 10px;
}
.prog_about {
  bottom: 10px;
}

.welcome {
  text-align: center;
  align-items: center;
}
.alert {
  color: black;
  background-color: rgb(202, 202, 20);
  background-size: contain;
  width: 30%;
  margin: 0 auto; /* Centers horizontally */
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}