button{
    margin-top: 10px;
    border: none;
    /* border-radius: 1000px; */
    padding: .85em 4em;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
button:hover{
    background-color: white; 
}
.float-child {
    width: 30%;
    float: left;
    padding: 20px;
    /* border: 10px solid black; */
}  