
@media only screen and (max-wdith: 640px){
    .featured_section{
       max-width: 100%;
     }
}

html, body {
    /* box-sizing: border-box; */
    font-family: Poppins, Segoe UI, sans-serif;
    /* font-size: 12px; */
    color: var(--text-color);
    /* text-align: center; */
}

.centering{
    text-align: center;
}
/* body{
    min-height: 100vh;
    background-image: url(/background.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
} */
.show li{
    font-size: 30px;
}

.wrapper {
    text-align: center;
}

h1{
    font-size: 2rem;
    font-weight: 9000;
    /* text-transform: uppercase; */
    align-self: center;
    text-decoration: underline;
}
a {
    text-decoration: none;
}

/* .float-child {
    width: 28%;
    float: left;
    padding: 20px;
    border: 10px solid black; 
}   */
/* .row {
    display: flex;
}
  
.column {
  flex: 33.33%;
  padding: 5px;
} */

.column {
    float: left;
    width: 23%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}
