*
!README.md
!.gitignore
!index.php
!happylizard_redirect.php
!rss
!rss/*
!project_page
!project_page/*
!CSS
!CSS/*
!include
!include/*
!js
!js/*
!img
!img/*
!project_page/file_uploading/upload.php
!project_page/file_uploading/index.php
project_page/file_uploading/uploads/*
